# Python
venv/



academiazz/vars
academiazz/.env/

# Node / React
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.*.local

vars/

# Logs
npm-debug.log*
yarn-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Documents (inside repo)
*.pdf
*.docx
~$*.docx

# Documents outside repo
../144_2419194_OmkarPoudel_LitratureReview.pdf
../Final\ Year\ Project\ Proposal.docx
../LitratureReview.docx
../OmkarPoudel_2419194_LitratureReview.pdf
../OmkarPoudel_2419194_LitratureReview_.pdf


